#area{
	width: 65%;
	height: 68%;
	background-color: red;
	vertical-align: middle;
	margin:auto;
}
body{
	display: flex;
	justify-content:center;
}
.btn{
	width: 70px;
	height: 50px;
}
#buttons1{
	display: flex;
	justify-content:space-between;
	margin-bottom: 15px;
}
#buttons2{
	display: flex;
	justify-content:space-between;
	margin:  0 5%;
	margin-bottom: 15px;
}
#buttons3{
	display: flex;
	justify-content:space-between;
	margin:  0 10%;
}
#word-area{
	height: 23%;
}